.Landing {
  background-image: url("clock.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  background-position: 50% 80%;
  height: calc(100vh - 40vh);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Landing_page {
  height: 100vh;
}

/* img {
  max-width: 100%;
  max-height: 100%;
  background-image: url("clock.jpg");
  background-repeat: no-repeat;
} */

.landing_title {
  color: #172b4d;
  text-shadow: 2px 2px 8px #9e9e9ead;
}

.landing-page {
  /* margin-top: 5vh; */

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.landing-page-title {
  margin-top: 2vh;
  font-weight: bold;
  color: #172b4d;
  text-shadow: 2px 2px 8px #9e9e9ead;
}

.landing_text_box {
  width: 25vw;
  margin-top: 1vh;
  /* border: 0.5px solid #9e9e9ead; */
  box-shadow: 1px 1px 8px 5px #88888833;
  padding: 7px;
  border-radius: 5px;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 400px) {
  .landing-page {
    display: flex;
    flex-direction: column;
  }
  .landing-page-title {
    font-size: 20px;
  }
  .landing_text_box {
    display: flex;
    flex-direction: column;
    width: 90vw;
  }
  .landing_title {
    font-size: 20px;
    padding: 5px;
  }
}
