
.Landing_page-title{
    background-color:#0052cc;
    padding:100px;
}
.Landing_page-title h1{
    color:#EBECF0;
}
.Landing_page-title h1 span{
    color:#FFC400;
    font-weight: 700;
}
.Landing_page-title-Q{
    font-size: 40px;
    font-weight: bold;
    color:white;
    position: relative;
    top:-15px;
}
.Landing_page-title hr{
    border-color: white;
    width: 40%;
    display: inline-block;
    margin-left:20px;
}
.Landing_page > article{
 padding:50px;
 display:flex;
 justify-content: space-evenly;
}
.Landing_page >article > div{
    font-family:'Roboto Slab',sans-serif;
    width:55%;
    margin: 10vw auto;
}
.Landing_icons > h2{
    font-size: 45px;
    font-weight: 700;
}
.Landing_icons {
    margin:30px auto;
}
.Landing_icons>i{
    font-size: 50px;
    margin: 0 10px;
}
article:nth-child(1) {
    background: #FAFBFC;
}
article:nth-child(2) {
    background: #FFC400;
}
article:nth-child(2) .Landing_icons{
    color:white;
}
article:nth-child(2) .Landing_icons h2{
color: #00875a;
}
article:nth-child(3) {
    background: #DEEBFF;
}
article:nth-child(3) .Landing_icons{
    color:#0052cc;
}


@media only screen and (max-width: 630px) {
    .Landing_page-title hr{
        width:50%
    }
    .Landing_page-title{
        padding:50px 25px;
    }
    .Landing_page-title h1{
       font-size:35px;
    }
    .Landing_page > article{
        padding:25px;
       }
}


@media only screen and (max-width: 800px) {
    .Landing_page-title{
        padding:80px 50px;
    }
    .Landing_page-title h1{
       font-size:40px;
    }
    .Landing_page > article{
        padding:50px;
       }
}
