.classroom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.createclass {
  /* border: 1px solid rgb(165, 165, 165); */
  box-shadow: 3px 3px 3px 3px#7f947fb7;
  width: 80vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding: 20px;
}
.pure-control-group input,
.pure-control-group input {
  background: #fafbfc;
}
