.createclass {
  margin:  auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createclass_container {
  /* border: 1px solid rgb(165, 165, 165); */
  box-shadow: 0px 0px 9px lightgrey;
  padding: 60px 20px;
  margin: auto;
}
button {
  padding: 10px 30px;
  background: #ffab00;
  color: #fff;
  /* box-shadow: 0px 0px 10px 0px #b8c3db44; */
  border: #ffab00;
  border-radius: 8px;
  /* // font-weight: bold; */
  outline: none;
}

button:disabled {
  background: grey;
  color: lightgray;
  margin:30px;
}

.classroom_header {
  font-size: 40px;
  padding: 20px;
}
.pure-control-group > label{
  margin-left:10px !important;
}
.pure-control-group input,
.pure-control-group input {
  background: #fafbfc;
  margin:10px;
  
}
.createclass img {
  width: 100px;
}

@media (max-width: 767px) {
  .classroom_header {
    font-size: 30px;
  }
  .createclass img {
    width: 75px;
  }
}
