.Quiz {
  padding: 20px;
  box-shadow: 2px 2px 9px grey;
  margin: 2% 2% 2% 12%;
  font-size: 1.5em;
}
.Quiz:hover {
  background-color: lightblue;
  transition: 0.5s;
}
.Quiz_h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 20px;
}
.Quiz_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left_h1 {
  float: left;
  left: 15%;
  font-weight: bold;
  position: relative;
}
.Quiz_button {
  margin-top: 20px !important;
  background-color: #ffab00 !important;
  color: #fff !important;
}
@media (min-width: 767px) {
}
