.Header {
  float: left;
  position: relative;
  padding-top: 16px;
  background-color: #0747a6;
  top: 0;
  left: 0;
  color: white;
  height: 100vh;
  width: 125px;
  display: flex;
  flex-direction: column;
}
.Header_logo {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  display: inline;
  top: 0;
  padding: 13px;
  top: 40%;

  letter-spacing: 1px;
}
.Header_top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.unauth {
  left: 20px;
}

@media (max-width: 767px) {
  .Header {
    height: 75px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    float: none;
    padding-top: 0;
    padding-left: 13px;
  }
  .Header_nav {
  }
}
