.Header{
    background-color:#0747a6;
    color: white;
    height: 50px;
  }
  .Header_logo{
      font-size: 30px;
      font-weight: 600;
      letter-spacing: 2px;
      position: absolute;
      left: 30px;
    }