.Login_form {
  background-color: rgba(241, 241, 241, 0.616);
  box-shadow: 0px 0px 5px 0px #8888885e;
  align-self: center;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 30px;
  margin :auto;
}
.Login_form > div{
  margin:15px;
}
.Login_logo{
  color:navy;
  font-size:60px;
  font-weight: 600;
}
.Login_logo-q{
  color: #0052cc;
  position: relative;
  top:-2px;
}
