@import "../../util.scss";

.re-container {
  padding-top: 30px;
  width: 70vw;
  margin: auto;
  margin-left: 20vw;
}
.fill-in-text {
  display: flex;
  justify-content: space-around;
}

.fill-in {
  display: flex;
  padding: 20px;
  justify-content: space-between;

  div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }
  .inputbox-requiz {
    @extend %quiz-input-shared;
    width: 100%;
  }
  input[type="submit"] {
    @extend %question-btn;
  }
}
.create {
  @extend %btn;
}

.remove {
  @extend %rmvbtn;
}

.outer-box {
  @extend %quiz-input-shared;
}

.heading_requiz {
  text-align: center;
  font-size: 30px;
  color: #172b4d;
}

p {
  font-size: 20px;
}
