.search-bar {
  position: relative;
}
.search-bar input {
  padding: 10px 0px 10px 30px;
  width: 105px;
  font-size: 14px;
  border: none;
  outline: none;
}

.search-bar input:focus {
  width: 30vw;
  /* padding: 10px 0px 10px 30px; */
  background-color: #7fb174;
  color: white;
  box-shadow: 1px 2px 8px gray;
  transition: 0.5s;
}

.search-bar i {
  margin-left: 5px;
  position: absolute;
  top: 10px;
}
