.search-bar {
  position: relative;
  top: -50px;
  /* width: 100%; */
}
.search-bar input {
  padding: 10px 0px 10px 30px;
  width: 105px;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 2px;
}

.search-bar input:focus {
  width: 30vw;
  /* padding: 10px 0px 10px 30px; */
  /* background-color: #7fb174; */
  color: #072a24bb;
  box-shadow: 1px 2px 8px gray;
  right: 10%;
  transition: 0.5s ease-in-out;
}

.search-bar i {
  position: relative;
  top: 0px;
  right: -25px;
  color: black;
}

@media (min-width: 767px) {
  .search-bar {
    left: 30%;
  }
  .search-bar input:focus {
    width: 30vw;
  }
}
