.box {
  border: 1px solid gray;
  box-shadow: 1px 1px 2px gray;
}

/* QuizClassView */
.quizzes-container {
  margin: 20px;
}
.each-quiz {
  width: 80%;
  height: 50px;
  display: flex;
  margin: auto;
}

/* Resources */
.resources-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  flex-wrap: wrap;
  margin: 20px;
}

.each-resource {
  width: 20%;
  height: 200px;
}
