$black: #333;
$radius: 2px;

%quiz-input-shared {
  padding: 5px 10px 5px 25px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  margin: 10px;
}

%btn {
  padding: 10px 30px;
  background: #ffab00;
  color: #fff;
  box-shadow: 0px 0px 10px 0px #b8c3db44;
  border: #ffab00;
  border-radius: 8px;
  // font-weight: bold;
  outline: none;
  &:focus {
    background: #ffab00;
  }
}

%question-btn {
  background: #36b37e;
  font-size: 30px;
  box-shadow: 0px 0px 10px 0px #b8c3db44;
  color: #fff;
  border: 1px solid #36b37e;
  border-radius: 50px;
}

%rmvbtn {
  background: #ff5630;
  font-size: 45px;
  box-shadow: 0px 0px 10px 0px #b8c3db44;
  color: #fff;
  border: 1px solid #ff5630;
  border-radius: 50px;
}
