.Nav_link {
  display: block;
  text-decoration: none;
  font-size: 25px;
  padding: 1vh;
  color: #0747a6;
  width: 300px;
  border: none;
}
.Nav_link_subItems {
  text-decoration: none;
  font-size: 19px;
  display: block;
  color: gray;
  padding: 3px;
}
.Nav_link_subItems:hover {
  text-decoration: none;

  transition: 0.8s;
  background-color: #e6eef2;
  color: #212121;
}
.hamburger {
  font-size: 25px;
  position: absolute;
  top: 15px;
  left: 30px;
}
.Nav_link_1 {
  margin-top: 2vh;
}
.Nav_link:hover {
  text-decoration: none;
  color: white;
  background-color: #212121;
  transition: 0.8s;
}
